.newUser {
  flex: 1;
}

.newUserForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap:1rem ;
  border-radius: 1rem;
  margin-top: 10px;
}

.newUserItem {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px 70px 10px 20px;
}

.newUserItem>label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 550;
}

.newUserItem>input {
  height: 50px;
  width: 500px;
  padding: 20px;
  border-bottom: 1px solid var(--color-primery);
  border-radius: 5px;
}

.newUserSelect {
  height: 50px;
  width: 500px;
  border: 1px solid var(--color-primery);
  border-radius: 5px;
}

.newUserButton {
  margin: 30px;
  width: 300px;
  border-radius: 5px;
  border: none;
  padding: 15px;
  cursor: pointer;
  background-color: var( --color-secondry);
  color: white;
  font-size: 20px;
  font-weight: 600;
}